@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #002061, #457AE6);
    }

    div#formulario > h1 {
        margin-top: 10px;
    }

    section#login {
        width: 80vw;
        height: 400px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 15px 0px 0px 15px ;
    }
    section#login > div#formulario {
        float: right;
        width: 70%;
    }
    .data_login > input {
        margin-left: 9%
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #002061, #457AE6);
    }

    section#login {
        width: 990px;
        height: 450px;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
        border-radius: 15px 0px 0px 15px ;
    }
    section#login > div#formulario {
        float: right;
        width: 50%;
    }
    div#formulario > h1 {
        margin-top: 10px;
        font-size: 2em;
    }
    
    div#formulario > p {
        font-size: 1.2em;
    }
    .data_login > input {
        margin-left: 9%
    }
}